.MainCard{
    width: 55%;
    margin: auto;
    margin-top: 10%;
    display:grid;
}

img{
    width:auto;
    width: 100%;
    align-self: center;
    justify-self: center;
}

.Center{
    display:grid;
    align-items:center;
    justify-content: center;
}

code{
    background-color: rgb(210,210,210);
    padding:4px;
}