@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

*{
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  padding-top: 5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
